/*
 * Card scss File
*/
$default: #1698D9;
$default-hovered: #2EA8E6;
$selected: #D91667;
$selected-hovered: #E52E7A;
$unavailable: #B3B3B3;

@mixin change-color($color) {
  &::before {
    background-color: $color;
  }

  .card__weight-block {
    background-color: $color;
  }
}

.card {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;
  z-index: 2;
  padding: 20px 50px;
  color: black;
  min-height: 480px;
  width: 100%;
  max-width: 320px;
  border-radius: 12px;
  margin: 0 auto;
  clip-path: polygon(-5% 9%, 16% -5%, 105% -5%, 105% 105%, -5% 105%);
  cursor: pointer;

  &__desc-block {
    position: relative;
    z-index: 2;
  }

  &__pre-header {
    font-size: 16px;
    color: #666666;
    display: block;
    margin-bottom: 5px;
  }
  &__header {
    font-size: 42px;
    font-weight: bold;
    display: block;
    margin: 0;
  }

  &__filling {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
  }

  &__description {
    font-size: 14px;
    color: #666666;
    white-space: pre-wrap;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    background: $default;
    left: -4px;
    right: 0;
    top: -4px;
    bottom: 0;
    border-radius: 12px;
    clip-path: polygon(0% 9%, 13% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    transition: background-color .5s;
  }


  &__background-image {
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 9%, 13% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: 12px;
  }

  &__weight-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    z-index: 2;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    right: 16px;
    bottom: 16px;
    transition: background-color .5s;
    background-color: $default;
    padding: 5px;
  }

  &__weight {
    font-size: 42px;
  }

  &__kilo {
    font-size: 21px;
  }

  &_hovered {
    @include change-color($default-hovered);
  }

  &_selected {
    @include change-color($selected);
  }

  &_selected.card_hovered {
    @include change-color($selected-hovered);
  }


  &_unavailable {
    &::after {
      content: '';
      z-index: 10;
      display: block;
      position: absolute;
      background: #F2F2F290;
      clip-path: polygon(0% 9%, 13% 0%, 100% 0%, 100% 100%, 0% 100%);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    @include change-color($unavailable);
  }
}

.card-text {
  color: #fff;
  text-align: center;
  font-size: 13px;

  &__text {
    padding-bottom: 1px;

    &_unavailable {
      color: #FFFF66;
    }
  }

  &__link-button {
    cursor: pointer;
    padding: 0;
    color: $default;
    transition: color .5s;
    font-size: 13px;
    border-bottom: 1px dashed $default;

    &:hover {
      color: $default-hovered;
    }
  }
}